* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#navtitle:hover {
  color:  #D83F87;

 
}

#signin {
  color: black;
  text-shadow: -2px 2px 4px 
  rgba(255, 0, 195, 0.9), 
      2px -2px 0 
      white;
      font-family: "karla", sans-serif;
}

