* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}


#navtitle {
  color: "#d83f87";
  text-shadow: -2px 2px 4px 
      rgba(0, 0, 0, 0.5), 
      2px -2px 0 
      rgba(255, 0, 195, 0.9);
      font-family: "karla", sans-serif;
}